@import url('./../variables.css');

.panel {
  display: flex;
  flex-direction: column;
  margin: 20% 260px 25% 260px;
  align-items: center;
  border-radius: 25px;
  background-color: var(--panel-bg-color);
  padding: 104px 0 16px 0;
}

.panel__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel-info__stopwatch {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 6px;
}

.panel-info__buttons {
  display: grid;
  gap: 16px 2px;
  grid-template-columns: 200px 200px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  width: 100%;
  font-weight: 700;
  font-size: 32px;

  border-radius: 20px;
  border: none;

  color: #ffffff;
  text-transform: uppercase;

  cursor: pointer;
}

.btn:not(.btn-end) {
  background-color: var(--main-bg-color);

}

.btn-end {
  grid-column: 1 / -1;
  background-color: var(--btn-end);
}